@page "/"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Echo.Client.Models
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Welcome to ECHO</h1>

<p>You are successfully authenticated! You can now start communicating with other users securely.</p>